ROUTER_API_KEY=sk-your-testnet-router-key
ROUTER_BASE_URL=https://router-api-testnet.integratenetwork.work/v1
ROUTER_MODEL=qwen2.5-omni
ROUTER_IMAGE_MODEL=qwen-image-edit

ROUTER_MAINNET_API_KEY=sk-your-mainnet-router-key
ROUTER_MAINNET_BASE_URL=https://router-api.0g.ai/v1
ROUTER_MAINNET_IMAGE_MODEL=z-image-turbo
PRIVATE_KEY=0xyour-server-wallet-private-key

NEXT_PUBLIC_CONTRACT_ADDRESS=0x956C346365e0D538cA5c6DB071B7a83F9c57E656
NEXT_PUBLIC_MAINNET_CONTRACT_ADDRESS=0x9BDe8f9a9Aa62BDBc10Cf35abA25B444Ce09761C